aiokafka==0.8.0
anyio==3.6.2
async-timeout==4.0.2
backoff==2.2.1
click==8.1.3
h11==0.14.0
hiredis==2.2.3
idna==3.4
isort==5.12.0
kafka-python==2.0.2
loguru==0.7.0
mccabe==0.7.0
packaging==23.1
pycodestyle==2.10.0
pydantic==1.10.7
pyflakes==3.0.1
redis==4.5.5
sniffio==1.3.0
typing_extensions==4.5.0
psutil==5.9.5
prometheus-client==0.16.0
